### üéØ Objetivos del ejercicio:

1. Leer ambos archivos CSV en DataFrames separados.
2. Mostrar las primeras 3 filas de cada DataFrame.
3. Unir los DataFrames usando la columna `ID` para enriquecer los datos de ventas.
4. Calcular el ingreso por venta (`Cantidad √ó Precio Unitario`) y agregarlo como una nueva columna llamada `Ingreso`.
5. Obtener el ingreso total de la tienda.
6. Mostrar la cantidad de ventas por pa√≠s.
7. Determinar qu√© **grupo de edad** (por rangos: `<25`, `25‚Äì34`, `35+`) gener√≥ m√°s ingresos.
8. Encontrar el producto m√°s vendido **por g√©nero del cliente**.
9. Agrupar las ventas por mes y pa√≠s, mostrando el total de ingresos por grupo.
10. Guardar el DataFrame resultante con la informaci√≥n completa en un archivo llamado `ventas_enriquecidas.csv`.

In [19]:
import pandas as pd

ventas = pd.read_csv("datos/ventas.csv")
clientes = pd.read_csv("datos/clientes.csv")

In [20]:
# Mostrar las primeras 3 filas de cada DF

print("Ventas - primeras 3 filas:")
print(ventas.head(3))

Ventas - primeras 3 filas:
   ID       Fecha  Producto Categor√≠a  Cantidad  Precio Unitario
0   0  2025-01-06   Bufanda      ropa         1            32.62
1   1  2025-05-12   Bufanda      ropa         2            93.76
2   2  2025-04-28  Camiseta   calzado         1            29.70

In [21]:
print("Clientes - primeras filas:")
print(clientes.head(3))

Clientes - primeras filas:
   ID   Nombre  Edad     Genero                       Pais
0   0   Alexis    57   Femenino                      Yemen
1   1    Emily    36  Masculino                    Estonia
2   2  Jessica    59   Femenino  Saint Pierre and Miquelon

In [22]:
# Unir los dos dataframes

combinado = pd.merge(ventas, clientes, on="ID")

print(combinado)

      ID       Fecha   Producto   Categor√≠a  Cantidad  Precio Unitario  \
0      0  2025-01-06    Bufanda        ropa         1            32.62
1      1  2025-05-12    Bufanda        ropa         2            93.76
2      2  2025-04-28   Camiseta     calzado         1            29.70
3      3  2025-11-26   Chaqueta        ropa         5            25.81
4      4  2025-12-22  Sandalias     calzado         3            48.31
..   ...         ...        ...         ...       ...              ...
995  995  2025-03-31   Pantal√≥n     calzado         3            10.65
996  996  2025-11-30   Camiseta     calzado         1            14.04
997  997  2025-05-07    Bufanda        ropa         2            95.70
998  998  2025-02-15   Sombrero  accesorios         5            91.40
999  999  2025-02-15  Sandalias     calzado         5            64.20

       Nombre  Edad     Genero                                          Pais
0      Alexis    57   Femenino                                         Yemen
1       Emily    36  Masculino                                       Estonia
2     Jessica    59   Femenino                     Saint Pierre and Miquelon
3        Jake    38   Femenino  South Georgia and the South Sandwich Islands
4      Angela    52  Masculino                              Saint Barthelemy
..        ...   ...        ...                                           ...
995    Johnny    54  Masculino                                  Saint Helena
996  Kimberly    38   Femenino                                         Ghana
997    Taylor    46   Femenino                                       Germany
998      John    27   Femenino                                 Cote d'Ivoire
999  Stefanie    40  Masculino                                  Cook Islands

[1000 rows x 10 columns]

In [24]:
# Crear columna Ingresos = Cantidad * Precio

combinado["Ingreso"] = combinado["Cantidad"] * combinado["Precio Unitario"]

combinado.head()

,ID,Fecha,Producto,Categor√≠a,Cantidad,Precio Unitario,Nombre,Edad,Genero,Pais,Ingreso
0,0,2025-01-06,Bufanda,ropa,1,32.62,Alexis,57,Femenino,Yemen,32.62
1,1,2025-05-12,Bufanda,ropa,2,93.76,Emily,36,Masculino,Estonia,187.52
2,2,2025-04-28,Camiseta,calzado,1,29.70,Jessica,59,Femenino,Saint Pierre and Miquelon,29.70
3,3,2025-11-26,Chaqueta,ropa,5,25.81,Jake,38,Femenino,South Georgia and the South Sandwich Islands,129.05
4,4,2025-12-22,Sandalias,calzado,3,48.31,Angela,52,Masculino,Saint Barthelemy,144.93

In [28]:
# Ingreso total de la tienda

ingreso_total = combinado["Ingreso"].sum()

print(f"Ingreso total de la tienda: USD {ingreso_total:.2f}")

Ingreso total de la tienda: USD 165345.50

In [30]:
# Cantidad de ventas por pa√≠s

ventas_por_pais = combinado.groupby("Pais")["Cantidad"].sum().reset_index(name="Cantidad de Ventas")
print("Cantidad de ventas por pais:")
print(ventas_por_pais)

Cantidad de ventas por pais:
                  Pais  Cantidad de Ventas
0          Afghanistan                   7
1              Albania                  12
2              Algeria                  18
3       American Samoa                  10
4              Andorra                  12
..                 ...                 ...
234  Wallis and Futuna                  15
235     Western Sahara                   8
236              Yemen                  26
237             Zambia                   6
238           Zimbabwe                  13

[239 rows x 2 columns]

In [34]:
# Clasificar edades en grupos y calcular ingresos por grupo

bins = [0,24,35, float('inf')]
labels = ['<25', '25-34', '35+']

combinado["Grupo Edad"] = pd.cut(combinado["Edad"], bins=bins, labels=labels)

combinado.head()

,ID,Fecha,Producto,Categor√≠a,Cantidad,Precio Unitario,Nombre,Edad,Genero,Pais,Ingreso,Grupo Edad
0,0,2025-01-06,Bufanda,ropa,1,32.62,Alexis,57,Femenino,Yemen,32.62,35+
1,1,2025-05-12,Bufanda,ropa,2,93.76,Emily,36,Masculino,Estonia,187.52,35+
2,2,2025-04-28,Camiseta,calzado,1,29.70,Jessica,59,Femenino,Saint Pierre and Miquelon,29.70,35+
3,3,2025-11-26,Chaqueta,ropa,5,25.81,Jake,38,Femenino,South Georgia and the South Sandwich Islands,129.05,35+
4,4,2025-12-22,Sandalias,calzado,3,48.31,Angela,52,Masculino,Saint Barthelemy,144.93,35+

In [35]:
ingreso_por_grupo_edad = combinado.groupby("Grupo Edad")["Ingreso"].sum().reset_index()

print("Ingresos por grupo de edad:")
print(ingreso_por_grupo_edad)

Ingresos por grupo de edad:
  Grupo Edad    Ingreso
0        <25   21690.42
1      25-34   34335.58
2        35+  109319.50

/tmp/ipykernel_3089/2753940562.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  ingreso_por_grupo_edad = combinado.groupby("Grupo Edad")["Ingreso"].sum().reset_index()

In [38]:
# Producto m√°s vendido por g√©nero

ventas_por_producto_genero = combinado.groupby(["Genero", "Producto"])["Cantidad"].sum().reset_index()

producto_mas_vendido = ventas_por_producto_genero.sort_values(["Genero", "Cantidad"], ascending=[True,False]).drop_duplicates('Genero')

print("Producto m√°s vendido por g√©nero")
print(producto_mas_vendido)

Producto m√°s vendido por g√©nero
       Genero   Producto  Cantidad
5    Femenino  Sandalias       212
13  Masculino  Sandalias       245

In [40]:
# Ingresos por mes y pa√≠s

combinado["Fecha"] = pd.to_datetime(combinado["Fecha"])
combinado["Mes"] = combinado["Fecha"].dt.to_period('M')

ingreso_mensuales_por_pais = combinado.groupby(["Mes", "Pais"])["Ingreso"].sum().reset_index()

print("Ingresos mensuales por pa√≠s")
print(ingreso_mensuales_por_pais)

Ingresos mensuales por pa√≠s
         Mes                                  Pais  Ingreso
0    2025-01                           Afghanistan   233.46
1    2025-01                               Albania    13.33
2    2025-01                               Austria   214.62
3    2025-01                               Belarus   251.23
4    2025-01                               Belgium   287.40
..       ...                                   ...      ...
848  2025-12                                Tuvalu    36.99
849  2025-12  United States Minor Outlying Islands    26.48
850  2025-12                            Uzbekistan   321.65
851  2025-12                               Vietnam    75.85
852  2025-12                                Zambia    64.10

[853 rows x 3 columns]

In [41]:
# Guardar el df combinado como un nuevo csv

combinado.to_csv('datos/ventas_combinado.csv', index=False)