#### 游꿢 Objetivos del ejercicio:

1. **Leer** el archivo CSV en un DataFrame.
2. Mostrar las **primeras 5 filas**.
3. Obtener el n칰mero total de **ventas realizadas** (filas del archivo).
4. Calcular el ingreso total por cada venta (Cantidad 칑 Precio Unitario) y agregarlo como una nueva columna llamada `Ingreso`.
5. Obtener el **ingreso total de la tienda**.
6. Mostrar las **ventas totales por categor칤a**.
7. Encontrar el **producto m치s vendido** (en t칠rminos de cantidad total).
8. Mostrar las **ventas mensuales totales** (agrupando por mes).
9. Guardar el DataFrame con la nueva columna en un archivo llamado `ventas_con_ingresos.csv`.

In [1]:
import pandas as pd

In [7]:
# Punto 1

ventas = pd.read_csv("datos/ventas.csv")

In [11]:
# Punto 2

ventas.head()

        Fecha  Producto   Categor칤a  Cantidad  Precio Unitario
0  2025-10-25     Bolso        ropa         4            57.78
1  2025-03-24  Sombrero     calzado         4            84.81
2  2025-05-25   Zapatos        ropa         5            48.94
3  2025-01-20   Bufanda  accesorios         4            58.73
4  2025-04-17  Pantal칩n        ropa         1            65.16

In [15]:
# Punto 3

cantidad_total_vendida = sum(ventas.Cantidad)

print(f"La cantidad total vendidad de productos fue: {cantidad_total_vendida} unidades")

La cantidad total vendidad de productos fue: 3086 unidades

In [16]:
# Punto 4

# Para obtener las ventas totales, necesitamos:
# Multiplicar: suma(Cantidad X PrecioUnitario)

ventas["Ingreso"] = ventas["Cantidad"] * ventas["Precio Unitario"]

ventas

          Fecha   Producto   Categor칤a  Cantidad  Precio Unitario  Ingreso
0    2025-10-25      Bolso        ropa         4            57.78   231.12
1    2025-03-24   Sombrero     calzado         4            84.81   339.24
2    2025-05-25    Zapatos        ropa         5            48.94   244.70
3    2025-01-20    Bufanda  accesorios         4            58.73   234.92
4    2025-04-17   Pantal칩n        ropa         1            65.16    65.16
..          ...        ...         ...       ...              ...      ...
995  2025-10-21  Sandalias     calzado         3            52.41   157.23
996  2025-11-07   Camiseta     calzado         3            70.47   211.41
997  2025-10-14   Sombrero        ropa         3            48.47   145.41
998  2025-04-16   Sombrero        ropa         4            87.07   348.28
999  2025-12-06   Sombrero     calzado         2            79.15   158.30

[1000 rows x 6 columns]

In [17]:
# Punto 5

ingresto_total = sum(ventas.Ingreso)

print(f"El Ingreso total de la tienda fueron USD {ingresto_total}")

El Ingreso total de la tienda fueron USD 166860.04

In [20]:
# Punto 6

ventas.groupby("Categor칤a")["Ingreso"].sum()

Categor칤a
accesorios    58415.97
calzado       38742.60
ropa          69701.47
Name: Ingreso, dtype: float64

In [ ]:
# Punto 7

producto_mas_vendido = ventas.groupby("Producto")["Cantidad"].sum().sort_values(ascending=False)

print(f"El producto m치s vendido fue:{producto_mas_vendido[0:1]}")

El producto m치s vendido fue:Producto
Bolso    453
Name: Cantidad, dtype: int64

In [28]:
# Explicaci칩n Fechas

ventas.describe()

          Cantidad  Precio Unitario      Ingreso
count  1000.000000      1000.000000  1000.000000
mean      3.086000        54.376020   166.860040
std       1.390157        26.367452   115.464842
min       1.000000        10.030000    10.030000
25%       2.000000        31.165000    70.262500
50%       3.000000        54.065000   138.830000
75%       4.000000        77.877500   245.005000
max       5.000000       100.000000   499.450000

In [41]:
ventas.dtypes

Fecha              datetime64[ns]
Producto                   object
Categor칤a                  object
Cantidad                    int64
Precio Unitario           float64
Ingreso                   float64
Mes                        object
dtype: object

In [36]:
# Punto 8

ventas["Fecha"] = pd.to_datetime(ventas["Fecha"])

ventas["Mes"] = ventas["Fecha"].dt.strftime("%b")

ventas_totales_mes = ventas.groupby("Mes")["Ingreso"].sum()

print(f"Las ventas totales fueron: {ventas_totales_mes}")

Las ventas totales fueron: Mes
Apr    12282.47
Aug    13085.64
Dec    11362.20
Feb    12760.80
Jan    14217.70
Jul    14259.30
Jun    14296.55
Mar    14324.95
May    12969.45
Nov    15394.66
Oct    17212.54
Sep    14693.78
Name: Ingreso, dtype: float64

In [38]:
orden_meses = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

ventas_totales_mes = ventas_totales_mes.reindex(orden_meses)

print(f"Las ventas totales fueron por: {ventas_totales_mes}")

Las ventas totales fueron por: Mes
Jan    14217.70
Feb    12760.80
Mar    14324.95
Apr    12282.47
May    12969.45
Jun    14296.55
Jul    14259.30
Aug    13085.64
Sep    14693.78
Oct    17212.54
Nov    15394.66
Dec    11362.20
Name: Ingreso, dtype: float64

In [39]:
# Punto 9

ventas.to_csv("datos/ventas_con_ingresos.csv")